body {
	background-color: #efeee7;
}

.container {
	margin: 0 auto;
	width: 1024px;
	font-size: 18px;
	line-height: 150%;
}

.ff { font-family: "Georgia", "Times New Roman", Times, serif; }

.f-l { float: left; }

.c-white { color: #efeee7; }

.bg-grey { background-color: #59585A }

.ta-c { text-align: center; }

.fs-30 { font-size: 30px; }

.pt-20 { padding-top: 20px; }

.pb-20 { padding-bottom: 20px; }

.m-r { margin-right: 20px; }

a { color: #20B2AA; }

img {
	width: 200px;
	height: 200px;
}
	
.contact { 
	float: left;
	width: 35%;
	margin: 0 auto;
}

.mainbio { 
	float: left;
	width: 65%;
	margin: 0 auto;
}

.pdl-15 { padding-left: 100px }











