body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-image: url("../images/symphony.png");
	font-size: 24px;
	color: #777777;
}
.b-0 {
	bottom: 0;
}
.bg-w { 
	background: white; 
}
.bg-g { 
	background-color: #777777; 
}
.bg-lg { 
	background-color: #cccccc; 
}
.bg-teal { 
	background-color: #4aaaa5; 
}
.bdc-lg { 
	border-color: #cccccc; 
}
.bdrc-lg {
	border-right-color: #cccccc;
}
.bdrs-s {
	border-right-style: solid;
}
.bdrw-1 {
	border-right-width: 1px;
}
.bds-n { 
	border-style: none;
}
.bds-s { 
	border-style: solid; 
}
.bdw-1 { 
	border-width: 1px; 
}
.c-teal { 
	color: #4aaaa5; 
}
.c-g { 
	color: #777777; 
}
.c-lg { 
	color: #cccccc; 
}
.c-dg { 
	color: #666666; 
}
.c-llg { 
	color: #dddddd; 
}
.c-w { 
	color: white; 
}
.cl-b { 
	clear: both; 
}
.d-in { 
	display: inline-flex; 
}
.fl-l {
	float: left; 
}
.fl-r { 
	float: right; 
}
.ff { 
	font-family: 'Georgia', Times, Times New Roman, serif; 
}
.fs-18 { 
	font-size: 18px; 
}
.fs-24 { 
	font-size: 24px; 
}
.fs-36 { 
	font-size: 36px; 
}
.fw-b {
	font-weight: bolder;
}
.h-2 { 
	height: 2px; 
}
.h-5 { 
	height: 5px; 
}
.h-24 { 
	height: 24px; 
}
.h-50 { 
	height: 50px; 
}
.h-100 { 
	height: 100px; 
}
.h-230 { 
	height: 230px; 
}
.l-0 {
	left: 0;
}
.lh-150 { 
	line-height: 150% 
}
.mb-10 {
	margin-bottom: 10px;
}
.mb-36 {
	margin-bottom: 36px;
}
.mb-24 {
	margin-bottom: 24px;
}
.ml-36 { 
	margin-left: 36px; 
}
.ml-150 { 
	margin-left: 150px; 
}
.mr-36 { 
	margin-right: 36px; 
}
.mr-150 { 
	margin-right: 150px; 
}
.mt-36 {
	margin-top: 36px;
}
.mt-24 {
	margin-top: 24px;
}
.ov-a {
	overflow: auto;
}
.pos-f {
	position: fixed;
}
.pb-10 {
	padding-bottom: 20px;
}
.pb-36 {
	padding-bottom: 36px;
}
.pb-40 {
	padding-bottom: 40px;
}
.pb-140 {
	padding-bottom: 140px;
}
.pl-10 {
	padding-left: 10px;
}
.pl-36 {
	padding-left: 36px;
}
.pl-40 {
	padding-left: 40px;
}
.pr-10 {
	padding-right: 10px;
}
.pr-36 {
	padding-right: 36px;
}
.pr-40 {
	padding-right: 40px;
}
.pt-10 {
	padding-top: 20px;
}
.pt-40 {
	padding-top: 40px;
}
.pt-36 {
	padding-top: 36px;
}
.ta-c { 
	text-align: center; 
}
.w-2 { 
	width: 2px; 
}
.w-70 { 
	width: 70px; 
}
.w-200 { 
	width: 200px; 
}
.w-310 { 
	width: 310px; 
}
.w-700 { 
	width: 700px; 
}
.w-800 { 
	width: 800px; 
}
.w-1440 { 
	width: 1440px; 
}
.wrapper {
	width: 1440px;
	background-image: url("../images/symphony.png");
}
a:link {
	text-decoration: none;
	color: grey;
}
a:visited {
	color: grey;
}






