* {
	box-sizing: border-box;
}
body {
	background-image: url("assets/images/symphony.png");
}
.container {
	display: -webkit-box;
  	display: -moz-box;
 	display: -ms-flexbox;
  	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	flex-flow: row;
	justify-content: space-around;
	background-image: url("assets/images/symphony.png");
}
.social {
	width: 50px;
	height: 50px;
}
.header {
	display: -webkit-box;
  	display: -moz-box;
 	display: -ms-flexbox;
  	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row;
	justify-content: space-around;
	background: yellow;
}
.name {
	background: pink;
}
.menu {
	background: orange;
}
.about {
	background: white;
	width: 50%;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.contact {
	height: 150px;
	background: white;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px;
}
.footer {
	width: 100%;
	position: fixed;
	background: purple;
	text-align: center;
	padding: 20px;
	z-index: 2;
}







